    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Example</title>
        <style>
            .color {
                width: 100px;
                height: 100px;
                background-color: var(--color);
                border: 1px solid black;
                margin: 20px;
                display: inline-block
            }
        </style>
    </head>
    <body>

        <input type="submit" value="It's me" name="replay"/>

   </body>
 </html>